BR2_x86_64=y
BR2_CCACHE=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="muen-linux"
BR2_TARGET_GENERIC_ISSUE="Welcome to Linux on Muen SK"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/muen/post-build.sh"
BR2_PACKAGE_BUSYBOX_CONFIG="board/muen/busybox.cfg"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_KBD=y
BR2_PACKAGE_PCIUTILS=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_IPERF=y
BR2_PACKAGE_TCPDUMP=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_MINGETTY=y
BR2_PACKAGE_TTYSNOOP=y
BR2_PACKAGE_VTTEST=y
BR2_PACKAGE_PINGPONG=y
BR2_PACKAGE_SYSBENCH=y
BR2_PACKAGE_MUENFS=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
# BR2_TARGET_ROOTFS_TAR is not set
